{% extends "base.html.twig" %}



{% block head %}   {% endblock %}

{% block body %} 
{% include 'message.html.twig' %}
<div id="content">{% block content %} {% endblock %}</div>


{% block footer %}
                &copy; Copyright 2023 by <a href="http://google.com/">Isse</a>.
            {% endblock %}
{% endblock %}