{% extends "base.html.twig" %}



{% block head %}   {% endblock %}

{% block body %} 
{% include 'message.twig' %}
<div id="content">{% block content %} {% endblock %}</div>
{% include 'table.twig' %}


{% endblock %}