{% extends "base.html.twig" %}



{% block head %}   {% endblock %}

{% block body %} 
<div id="content">{% block content %} {% endblock %}</div>
<div style="color: {{ msg_color }}"> {{ msg }}</div>


{% endblock %}