
<table>
    <thead>
        <tr>
            <th>
                <a href="?sort=name&order=asc">U</a>
                Vorname
                <a href="?sort=name&order=desc">D</a>
                <input type="text" name="filter_name">
            </th>
            <th>
                <a href="?sort=nachname&order=asc">U</a>
                Nachname
                <a href="?sort=nachname&order=desc">D</a>
                <input type="text" name="filter_nachname">
            </th>
            <th>
                <a href="?sort=email&order=asc">U</a>
                Email
                <a href="?sort=email&order=desc">D</a>
            </th>
            ...
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.nachname }}</td>
            <td>{{ user.email }}</td>
            ...
        </tr>
        {% endfor %}
    </tbody>
</table>


