<form name="signuplistform" method="get" action=""> 
<input type="submit" value="send" />
<table>
    <thead>
        <tr>
            <th>
                <a href="?sort=name&order=asc">U</a>
                Vorname
                <a href="?sort=name&order=desc">D</a>
                <input type="text" name="filter[name]">
            </th>
            <th>
                <a href="?sort=nachname&order=asc">U</a>
                Nachname
                <a href="?sort=nachname&order=desc">D</a>
                <input type="text" name="filter[nachname]">
            </th>
            <th>
                <a href="?sort=email&order=asc">U</a>
                Email
                <a href="?sort=email&order=desc">D</a>
                <input type="text" name="filter[email]">
            </th>
            ...
        </tr>
    </thead>
    <tbody>
        {% for user in tabledata %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.nachname }}</td>
            <td>{{ user.email }}</td>
            ...
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>





